/** CSS STYLE **/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #fff;
  --light-white-color: #d7ccc0;
  --light-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --light-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

@font-face {
  font-family: Neucha;
  font-weight: 400;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open-Sans-Regular";
  font-style: 400;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open-Sans-Bold";
  font-style: 700;
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--dark-color);
  
  font-size: 16px;
  font-family: "Open-Sans-Regular", sans-serif;
  line-height: 1.5em;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

header,
section,
footer {
  padding: 100px 0;
}

.orange-text {
  color: var(--main-color);
}

.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}

.mt-100 {
  margin-top: 100px;
}
.p-24 {
  padding: 24px;
}

.background-img::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header {
  position: relative;

  width: 100%;

  overflow: hidden;

  background-color: var(--light-color);
  z-index: 0;
}

.header-title {
  width: 100%;
}

.header-top {
  display: flex;

}
.header-image-box {
  position: relative;
}

.header-image {
  position: absolute;
  top: -45px;
  left: -280px;

  height: 525px;
  z-index: 50;
}

.header-bottom {
  margin-top: 185px;
}

.texts-box {
  position: relative;
  display: flex;
  column-gap: 30px;
  z-index: 200;

}

.text {
  max-width: 540px;
  line-height: 26px;
}

.header-link {
  text-decoration: none;
  padding: 12px 24px;
  font-family: "Open-Sans-Bold", sans-serif;
  color: var(--white-color);
  background-color: var(--main-color);
  margin-top: 40px;
  display: inline-block;
}

.video-section {
  height: 814px;
  padding-bottom: 0;
  position: relative;
}

.video-title {
  text-align: center;
}

.video-subtitle {
  text-align: center;
  line-height: 26px;
  color: #212529;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
}

.nav-section {
  background: var(--main-dark-color);
  width: 100vw;
  padding-top: 200px;
}

.nav-title {
  font-size: 52px;
  line-height: 62px;
  padding: 0;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}
.nav-item {
  width: 350px;
  /* max-height: 323px; */
  height: 100%;
  align-self: stretch;  
  background: var(--light-color);
}

.nav-card {
  height: 323px;
}

.item-title {
  background: none;
}

.nav-title {
  color: var(--white-color);
}

.card-number {
  font-family: Neucha, sans-serif;
  font-size: 64px;
  line-height: 1;
  color: var(--main-dark-color);
}

.card-title {
  font-size: 34px;
  line-height: 41px;
  color: var(--main-color);
  margin-top: 40px;
}

.card-text {
  line-height: 26px;
  color: var(--dark-color);
  margin-top: 16px;
}

.nav-link {
  display: block;
  text-decoration: none;
}

.ikea {
  background-color: var(--light-color);
  position: relative;
}

.section-top {
  display: flex;
  column-gap: 30px;
}

.section-suptitle {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--light-dark-color);
}

.section-text {  
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  color: var(--dark-color);
}

.section-h4 {
  background: var(--brown-color);
  color: var(--white-color );
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 5px 10px;
}

.premature-optimization {
  position: relative;
  background-color: var(--brown-color);
}
.premature-optimization-top {
  flex-direction: row-reverse;
}

.premature-optimization .section-suptitle {
  color: var(--light-white-color);
}
.premature-optimization-title {
  background: var(--white-color);
  color: var(--brown-color);
}

.distortion-of-novelty {
  position: relative;
  background-color: var(--light-color);
}

.hyperbolic-depreciation {
  position: relative;
  background-color: var(--brown-color);
}

.hyperbolic-depreciation-top {
  flex-direction: row-reverse;
}

.hyperbolic-depreciation .section-suptitle {
  color: var(--light-white-color);
}

.white-color {
  color: var(--white-color);
}

.footer {
  background: var(--dark-color);
}