/** CSS STYLE **/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #fff;
  --light-white-color: #d7ccc0;
  --light-color: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --light-dark-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--dark-color);

  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

header,
section,
footer {
  padding: 100px 0;
}

.orange-text {
  color: var(--main-color);
}

.header {
  position: relative;

  width: 100%;

  overflow: hidden;

  background-color: var(--light-color);
}

.header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header-title {
  width: 100%;
}

.header-top {
  position: relative;

  display: flex;
  margin-bottom: 185px;
}

.header-img {
  position: absolute;
  top: -45px;
  right: -170px;

  height: 525px;
}

.header-text-boxes {
  display: flex;

  column-gap: 30px;
}

.text-box {
  width: 540px;

  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 26px;
}

.mb-25 {
  margin-bottom: 25px;
}

.header-link {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white-color);
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main-color);

  cursor: pointer;
}
